@font-face {
    font-family: IRANSansXFaNum;
    font-style: normal;
    font-weight: 400;
    src:
    url('Woff/IRANSansXFaNum-Regular.woff') format('woff'),
    url('Woff2/IRANSansXFaNum-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: IRANSansXFaNum;
    font-style: normal;
    font-weight: 500;
    src: url('Woff/IRANSansXFaNum-Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('Woff2/IRANSansXFaNum-Medium.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: IRANSansXFaNum;
    font-style: normal;
    font-weight: 700;
    src: url('Woff/IRANSansXFaNum-Bold.woff') format('woff'),
    url('Woff2/IRANSansXFaNum-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANSansXFaNum;
    font-style: normal;
    font-weight: 900;
    src: url('Woff/IRANSansXFaNum-Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('Woff2/IRANSansXFaNum-Black.woff2') format('woff2');
    font-display: swap;
}
